# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Content/FreeAssets/

Content/InfinityBladeWeapons/

Content/ParagonPhase/FX/

Content/ParagonPhase/Characters/Heroes/Phase/Animations/

Content/ParagonPhase/Characters/Heroes/Phase/Meshes/Paragon_Proto_Retarget\.uasset

Content/ParagonPhase/Characters/Heroes/Phase/Meshes/Phase_Extents\.uasset

Content/ParagonPhase/Characters/Heroes/Phase/Meshes/Phase_GDC\.uasset

Content/ParagonPhase/Characters/Heroes/Phase/Meshes/Phase_ShadowCyl\.uasset

Content/ParagonPhase/Characters/Heroes/Phase/Textures/

Content/ParagonPhase/Characters/Heroes/Phase/Sounds/

Content/ParagonPhase/Characters/Heroes/Phase/Skins/

Content/ParagonPhase/Characters/Heroes/Phase/Materials/

Content/ParagonPhase/Characters/Heroes/Phase/AnimationTestMap\.umap

Content/ParagonPhase/Characters/Global/

Content/ParagonPhase/Characters/Maps/

Content/StarterStuff/

Content/ThirdPerson/

Content/WaterPlane/

Intermediate/

Saved/
